body{
  background-color: black;
   color: rgb(247, 243, 243);
}
ul{
 display: flex;  
 justify-content: space-between; 
list-style-type: none;
align-items:center;
padding: 0px;
}
a{
   text-decoration: none; 
color: rgb(250, 248, 245);
}
.center img{
   width: 150px;
   height: 150px;
   border-radius: 70%;
   border: 5px solid rgb(27, 255, 7);
   
}
.center{
   text-align: center;
}
h1{
   color: chartreuse;
}
.gifhub img{
   width: 60px;
   height: 60px;
   border-radius: 50%;
   border: 5px solid rgb(7, 7, 7);
   color: rgb(8, 8, 8);
}
.youtube img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 5px solid rgb(17, 17, 17);
      color: rgb(15, 15, 15);
   }
footer{
display: flex;
justify-content: center;

}
footer p {
   margin-top: 2px;
}
.linkdin  img{
   width: 60px;
   height: 60px;
   border-radius: 50%;
   border: 5px solid rgb(17, 17, 17);
   color: rgb(15, 15, 15);
}
 



